@{
  Layout="Shared/_Layout.cshtml";
}


@if(Request.Cookies.ContainsKey("bool"))
{
  @if(Request.Cookies["bool"] == "true")
  {
    <div class="container">
      <h3>Students Enrolled in @Model["selectedTrack"].GetName()</h3>
    </div>
    @foreach(var student in Model["allStudents"])
    {
      <li><a href="/student/details/@student.GetId()">@student.GetLastName(), @student.GetFirstName()</a></li>
    }
  }
  else{
    <div class="container">
      <h3>Students Enrolled in @Model["selectedTrack"].GetName()</h3>
    </div>
    @foreach(var student in Model["allStudents"])
    {
      <li>@student.GetLastName(), @student.GetFirstName()</li>
    }
  }
}
