@{
  Layout="Shared/_Layout.cshtml";
}
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/account/create">Create Account</a></li>
        <li><a href="/account/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
    <h3>Add Course to @Model["currenttrack"].GetName():</h3>
    <form name="course-name" action="/courses/addto" method="post">
      <input type="hidden" name="track-id" value='@Model["currenttrack"].GetId()'>
      <div class="form-group">
        <label for="course-name">Course Name:</label>
        <input class="form-control" type="text" name="course-name" required>
      </div>
      <button type="submit" class="btn btn-info">Add</button>
    </form>

    <form action="/courses/addexisting" method="post">
      <input type="hidden" name="track-id" value='@Model["currenttrack"].GetId()'>
      <select name="course-id">
        @foreach (var course in Model["allcourses"])
        {
          <option value="@course.GetId()">@course.GetName()</option>
        }
      </select>
      <button type="submit" class="btn btn-info">Add</button>
    </form>
    <a href="/">Return to Home</a>
</div>
