@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/main">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/account/create">Create Account</a></li>
        <li><a href="/account/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<h3>@Model["school"].GetCity()</h3>

<div class="tracks">
  @if (Model["tracks"]!=null)
  {
    <span>Here are the tracks offered at this school:</span>
    @foreach (var track in Model["tracks"])
    {
      <li>@track.GetName()
        <form action="/tracks" method="get">
          <input type="hidden" name="school-id" value='@Model["school"].GetId()'>
          <input type="hidden" name="track-id" value='@track.GetId()'>
          <button type="submit">Edit</button>
        </form>
        <form action="/track/delete/@track.GetId()" method="post">
          <input type="hidden" name="school-id" value='@Model["school"].GetId()'>
          <input type="hidden" name="track-id" value='@track.GetId()'>
          <button type="submit">Delete</button>
        </form>
      </li>
    }
  }
  @if (Model["availtracks"].Count > 0)
  {
    <form class="" action="/tracks/addto/" method="post">
      <label>Add a new track to this school:</label>
      <input type="hidden" name="school-id" value=@Model["school"].GetId()>
      <select class="" name="track-id">
        @foreach (var track in Model["availtracks"])
        {
          <option value=@track.GetId()>@track.GetName()</option>
        }
      </select>
      <button type="submit">Add Track</button>
    </form>
  }
</div>

<br>

<div class="instructors">
  @if (Model["currentinstructors"]!=null)
  {
      <span>Here are the instructors at this school:</span>
      @foreach (var instructor in Model["currentinstructors"])
      {
        <li>@instructor.GetName()
          <form action="/instructor/update/@instructor.GetId()" method="get">
            <input type="hidden" name="school-id" value='@Model["school"].GetId()'>
            <input type="hidden" name="instructor-id" value='@instructor.GetId()'>
            <button type="submit">Update</button>
          </form>
          <form action="/instructor/remove/@instructor.GetId()" method="post">
            <input type="hidden" name="school-id" value='@Model["school"].GetId()'>
            <input type="hidden" name="instructor-id" value='@instructor.GetId()'>
            <button type="submit">Remove</button>
          </form>
        </li>
      }
  }
  @if (Model["availinstructors"].Count > 0)
  {
    <form class="" action="/instructors/addto/" method="post">
      <label>Add a new instructor to this school:</label>
      <input type="hidden" name="school-id" value=@Model["school"].GetId()>
      <select class="" name="instructor-id">
        @foreach (var instructor in Model["availinstructors"])
        {
          <option value=@instructor.GetId()>@instructor.GetName()</option>
        }
      </select>
      <button type="submit">Add Instructor</button>
    </form>
  }
</div>
<br>
<a href="/schools">Return to Schools</a>
<br>
<a href="/main">Return to Home</a>
