@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/account/create">Create Account</a></li>
        <li><a href="/account/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <h3>Student Info for: @Model["student"].GetLastName(), @Model["student"].GetFirstName()</h3>
  <ul>
    <li>User Name: @Model["student"].GetUserName()</li>
    <li>Address: @Model["student"].GetAddress()</li>
    <li>Email: @Model["student"].GetEmail()</li>
    <li>Current Track: @Model["track"].GetName()
      @* <form class="" action="/tracks/student-add/" method="post">
        <label>Add a new track to this student:</label>
        <input type="hidden" name="student-id" value=@Model["student"].GetId()>
        <select class="" name="track-id">
          @foreach (var track in Model["availtracks"])
          {
            <option value=@track.GetId()>@track.GetName()</option>
          }
        </select>
        <button type="submit">Add Track</button>
      </form> *@
      <ul><h3>Courses and grades</h3>
      @for (var i = 0; i < Model["courses"].Count; i++)
      {
        <li>@Model["courses"][i].GetName()-- Attendance: @Model["grades"][i].GetAttendance(), Grade: @Model["grades"][i].GetGrade()</li>
      }
      </li>
    </ul>
  </ul>
  <h4><a href='/student/delete/@Model["student"].GetId()'>Delete this student</a></h4>
  <h4><a href='/student/update/@Model["student"].GetId()'>Update Student Info</a></h4>
</div>
